<div class="container" *ngIf="branchOfficeLoaded">
  <h2>Branch Offices</h2>
  <div class="row card-group">
      <div class="col-4"  *ngFor="let branchOffice of branchOffices; let i = index">
          <div class="card">
              <img class="card-img-top" src="https:\\localhost:44347\{{branchOffice.Logo}}" *ngIf="branchOffice.Logo">
              <img class="card-img-top" src="https://www.ncp-e.com/fileadmin/_processed_/0/d/filialvernetzung_d62f619600.png" *ngIf="!branchOffice.Logo">
              <div class="card-body">
                <h5 class="card-title">{{branchOffice.Name}}</h5>
                <p class="card-text">{{branchOffice.Address}}</p>
                <button type="button" [routerLink]="['/branchOffice', branchOffice.Id]" class="btn btn-primary">View Details</button>
                <button type="button" class="btn btn-danger" (click)="deletebranchOffice(branchOffice.Id, i)" *ngIf="loggedIn() && isAuthorized()">Delete</button>
                <button type="button" class="btn btn-warning" [routerLink]="['/editBranchOffice', branchOffice.Id]" *ngIf="loggedIn() && isAuthorized()">Edit</button>
              </div>
          </div>
      </div>
  </div>
</div>

<app-add-branch *ngIf="loggedIn() && isAuthorized()"></app-add-branch>

<div class="container">
    <h3>Branch offices world map</h3>
    <agm-map [latitude]="lat" [longitude]="lng" [zoom]="5">
        <div *ngFor="let marker of markers">
            <agm-marker (markerClick)="MarkerClickEvent(marker)" [latitude]="marker.lat" [longitude]="marker.lng"></agm-marker>
        </div>
    </agm-map>
</div>
