<div class="container">
  <h2>Branch Offices</h2>
  <div class="row card-group">
      <div class="col-4"  *ngFor="let branchOffice of branchOffices; let i = index">
          <div class="card">
              <img class="card-img-top" src="branchOffice.Logo" alt="Card image cap">
              <div class="card-body">
                <h5 class="card-title">{{branchOffice.Name}}</h5>
                <p class="card-text">{{branchOffice.Address}}</p>
                <button type="button" [routerLink]="['/branchOffice', branchOffice.Id]" class="btn btn-primary">View Details</button>
                <button type="button" class="btn btn-danger" (click)="deletebranchOffice(branchOffice.Id, i)">Delete</button>
                <button type="button" class="btn btn-warning" [routerLink]="['/editBranchOffice', branchOffice.Id]">Edit</button>
              </div>
          </div>
      </div>
  </div>
</div>

<app-add-branch></app-add-branch>
