<div class="container">
    <div class="col-md-12">
      <h3>Authorize awaiting services </h3>
      <ul class="list-group" *ngFor="let awaitingService of awaitingServices; let i = index">
        <li class="list-group-item">{{awaitingService.Name}} <span class="pull-right" style="float:right"><button class="btn btn-success btn-small" (click)="AuthorizeService(awaitingService.Id,i)">Authorize Service</button></span></li>
      </ul>

    </div>
    <!-- <div class="col-md-12">
      <h3>Ban managers</h3> 
      <ul class="list-group" *ngFor="let unbannedManager of unbannedManagers">
        <li class="list-group-item">{{unbannedManager.FullName}}</li>
      </ul>

    </div>

    <div class="col-md-12">
        <h3>Remove ban from managers</h3> 
        <ul class="list-group" *ngFor="let bannedManager of bannedManagers">
          <li class="list-group-item">{{bannedManager.FullName}}</li>
        </ul>
  
      </div> -->
    <div class="col-md-12">
      <h3>Authorize awaiting clients</h3> 
      <ul class="list-group" *ngFor="let awaitingClient of awaitingClients; let i = index">
        <li class="list-group-item">{{awaitingClient.FullName}} <br>
          <img src="http://localhost:51680/{{awaitingClient.Image}}" width="200" height="100" alt=""><span class="pull-right" style="float:right"><button class="btn btn-success btn-small" (click)="AuthorizeUser(awaitingClient.Id,i)">Authorize Client</button></span></li>
      </ul>
    </div>

    <div class="col-md-12">
      <h3>Rented vehicles</h3> 
      <ul class="list-group" *ngFor="let rent of rentedVehicles; let i = index">
        <div class="card">
            <h5>Rent details</h5>
            Rent Id: {{rent.Id}} <br>
            Start date: {{rent.Start | date}} <br>
            End date: {{rent.End | date}}
            <br>
            <h5>Rent details</h5>
            Picked up in: {{rent.BranchOffice.Name}} <br>
            Vehicle: {{rent.Vehicle.Manufactor}} {{rent.Vehicle.Model}}

            <div *ngIf="rentDue(rent)" style="color:red">This rent is due! Please close it ASAP</div>
            
            <br>

            <span class="pull-right" style="float:right"><button class="btn btn-danger btn-small" (click)="CloseRent(rent.Id,i)">Close rent</button></span>
        </div>

        <hr>
        <br>
      </ul>
    </div>
</div>