<div class="container" *ngIf="profileLoaded">
  <img src="{{userBytesImage}}" height="150" width="150" *ngIf="user.Image">

  <h3>Full Name: {{user.FullName}}</h3>
  <h4>Email: {{user.Email}}</h4>
  <h4>Birthday: {{user.Birthday | date}}</h4> <br/>
  <div *ngIf="!user.Image && getRole() == 'AppUser'">
    <h4>Upload your drivers licence:</h4>
    <div class="container">
      <input type="file" (change)="onFileSelected($event)">  
      <button type="button" class="btn btn-primary" (click)="onUpload()">Upload</button>
    </div>
  </div>


  <div *ngFor="let rent of user.Rents">
      <div class="card">
          <!-- <img class="card-img-top" src="vehicles.Logo" alt="Card image cap"> -->
          <div class="card-body">
            <a>{{rent.Vehicle.Manufactor}} {{rent.Vehicle.Model}}</a>
            
          </div>
      </div>
  </div>
</div>