<div class="container">
    <div class="row card-group">
        <div class="col-4"  *ngFor="let service of services">
            <div class="card">
                <img class="card-img-top" src={{service.Logo}} alt="Card image cap">
                <div class="card-body">
                  <h5 class="card-title">{{service.Name}}</h5>
                  <p class="card-text">{{service.Description}}</p>
                  <a href="#" class="btn btn-primary">View Service</a>
                </div>
            </div>
        </div>
    </div>
    <div>
        <button type="button" class="btn btn-primary"  [routerLink]="['/addService']">Add Service</button>    
    </div>
</div>
