<div class="container">
    <h2>Services</h2>
        <div>
            <button type="button" class="btn btn-primary"  [routerLink]="['/addService']">Add Service</button>    
        </div>

    <div class="row card-group">
        <div class="col-4"  *ngFor="let service of services; let i = index">
            <div class="card">
                <img class="card-img-top" src="http:\\localhost:51680\{{service.Logo}}" *ngIf="service.Logo">
                <img class="card-img-top" src="https://putovanjaisitonija.files.wordpress.com/2017/05/rent-a-car-sitonija1.png?w=593&h=261&crop=1" *ngIf="!service.Logo">                
                <div class="card-body">
                  <h5 class="card-title">{{service.Name}}</h5>
                  <p class="card-text">{{service.Description}}</p>
                  <button type="button" [routerLink]="['/services', service.Id]" class="btn btn-primary">View Service</button>
                  <button type="button" class="btn btn-danger" (click)="deleteService(service.Id, i)">Delete Service</button>
                  <button type="button" class="btn btn-warning" [routerLink]="['/editService', service.Id]">Edit Service</button>
                </div>
            </div>
        </div>
    </div>    
</div>
