<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">{{appName}}</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li><a class="nav-link" [routerLink]="['/home']">Home</a></li>
      <li><a class="nav-link" [routerLink]="['/services']">Services</a></li>
      <li><a class="nav-link" [routerLink]="['/branchoffices']">Branch offices</a></li>
      <li><a class="nav-link" [routerLink]="['/rents']">Vehicles</a></li>
      <li><a class="nav-link" [routerLink]="['/search']">Search</a></li>
      <li><a class="nav-link" [routerLink]="['/adminpanel']" *ngIf="getRoleByDecode() == 'Admin' ">Admin panel</a></li>
     </ul>
    <!-- <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form> -->
    <ul class="navbar-nav" *ngIf="!loggedIn()">
        <li><a class="nav-link" [routerLink]="['/signin']">Sign In</a></li>
        <li><a class="nav-link" [routerLink]="['/register']">Register</a></li>
    </ul>
    <ul class="navbar-nav" *ngIf="loggedIn()">
      <li><a class="nav-link" [routerLink]="['/profile']">Profile</a></li>
      <li><a class="nav-link" href="/home" (click)="logout()">Logout</a></li>
  </ul>
  </div>
</nav>